.top-menu{
  padding: 0 0 !important;
}
.form-control{
  border-radius: 0 !important;
  border: #464646 1px solid !important;
}
form.form-inline{
  padding: 13px 0 !important;
}
.top-menu-search-icon{
  position: absolute !important;
  left: 205px;
  color: #383838;
  cursor: pointer;
}

.navbar-collapse{
  align-items: flex-start;
  justify-content: flex-end;
}
.navbar-toggler{
  border: none !important;
  border-radius: 0 !important;
}
.top-menu{
  z-index: 5;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15);
}
.top-menu-items{
  position: absolute;
  width: 154px;
  top: 72px;
  right: 0;
  z-index: 11;
  background-color: #363636;
}
.top-menu-link{

}
.top-menu-link>a{
  font-size: 14px;
  color: #b8b8b8 !important;
  margin-left: 25px !important;
}
.top-menu-link>a:hover{
  padding-bottom: 8px !important;
  border-bottom: #646464 1px solid;

}

.c-hamburger {
  display: block !important;
  position: relative !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 154px !important;
  height: 73px !important;
  font-size: 0 !important;
  text-indent: -9999px;
  appearance: none !important;
  box-shadow: none !important;
  border: none !important;
  cursor: pointer !important;
  transition: background 0.3s !important;
}

.c-hamburger:focus {
  outline: none !important;

}
.c-hamburger span {
  display: block !important;
  position: absolute !important;
  top: 36px !important;
  left: 105px !important;
  right: 11px !important;
  width: 29px;
  height: 2px !important;
  background: #2a2a2a !important;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute !important;
  display: block !important;
  left: 0 !important;
  width: 29px !important;
  height: 2px !important;
  background-color: #2a2a2a !important;
  content: "" !important;
}

.c-hamburger span::before {
  top: -6px !important;
}

.c-hamburger span::after {
  bottom: -6px !important;
}
.c-hamburger--htx {
  background-color: #ffffff !important;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s !important;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s !important;
  transition-delay: 0.3s, 0s !important;
}

.c-hamburger--htx span::before {
  transition-property: top, transform !important;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color: #202529 !important;
}

.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0 !important;
  transform: rotate(45deg) !important;
  background-color: #ffffff !important;
}

.c-hamburger--htx.is-active span::after {
  bottom: 0 !important;
  transform: rotate(-45deg) !important;
  background-color: #ffffff !important;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s !important;
}
@media screen and (min-width: 480px){
  .top-menu-items {
    position: absolute;
    z-index: 999;
    background-color: #363636;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .top-menu-search-icon{
    position: absolute !important;
    left: 290px;
    color: #383838;
  }
  .top-menu-items {
    position: absolute;
    z-index: 99;
    background-color: #363636;
  }
}
@media screen and (min-width: 1200px) {
  .c-hamburger, .c-hamburger--htx{
    display: none !important;
  }
  .top-menu-items {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #ffffff;
  }
  .top-menu-link{
    box-sizing: border-box;
    background-color: #ffffff !important;
    border-top: transparent 4px solid;
  }
  .top-menu-link>a{
    color: #2a2a2a !important;
    margin-left: 0 !important;
  }
  .top-menu-link:hover{
    background-color: #d58e32 !important;
    border-top: #2a2a2a 4px solid;
  }
  .top-menu-link:hover>a{
    color: #ffffff !important;
    padding-bottom: 0 !important;
    border-bottom: none;
  }
}



