.header-phone-icon{
    color: $color;
    font-size: 28px;
    display: none !important;
}
.header-phone-number{
    color: #d8d8d8;
    margin-left: 13px;
    text-decoration: none !important;
}
.header-phone-number:hover{
    color: #d8d8d8;
}
.header-logo-image{
    width: 114px;
    height: 53px;
}
.header-shopping-basket-icon{
    color: #ffffff;
    background-color: $color;
    border-radius: 5px;
    font-size: 20px;
    padding: 11px 16px 14px 9px !important;
    cursor: pointer;
}
.header-shopping-basket-counter{
    border-radius: 50%;
    z-index: 2;
    position: relative;
    right: 15px;
    padding: 5px 10px;
}
.header-shopping-basket-counter-number{
    color: #ffffff;
    text-decoration: none !important;
}
.header-shopping-basket-counter-number:hover{
    color: #ffffff;
}
@media screen and (min-width: 480px){
    .modal-dialog-empty-cart{
        max-width: 420px !important;
    }
    .modal-wrapper-empty-cart{
        width: 420px !important;
        height: 344px;
    }
    .modal-body-empty-cart-text1{
        font-size: 49px;
    }
    .modal-body-empty-cart-text2{
        font-size: 24px;
    }
    .header-logo-image{
        width: 114px;
        height: 53px;
    }
}
@media screen and (min-width: 768px) {
    .header-phone-icon{
        display: inline-block !important;
    }
    .header-logo-image{
        width: 165px;
        height: 77px;
    }
    .header-shopping-basket-icon{
        padding: 14px 16px 14px 12px !important;
    }
    .modal-dialog-empty-cart{
        max-width: 555px !important;
    }
    .modal-wrapper-empty-cart{
        width: 555px !important;
        height: 261px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-dialog-empty-cart{
        max-width: 1140px !important;
    }
    .modal-wrapper-empty-cart{
        width: 1140px !important;
    }

}