.carousel-item-css{
  position: relative !important;
  height: 273px !important;
}

.carousel-caption{
  right: 4% !important;
  left: 4% !important;
}
.carousel-content-bg{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 214px;
  bottom: 44px !important;
}
.carousel-content{
  position: absolute;
  top: 20px !important;
}
.carousel-title{
  font-size: 31px;
}
.carousel-subtitle{
  font-size: 18px;
}
.carousel-btn-text{
  font-size: 14px !important;
}

.carousel-control-prev, .carousel-control-next{
  width: 50% !important;
  align-items: flex-end !important;
  opacity: 1 !important;
}
.carousel-control-prev-wrapper,
.carousel-control-next-wrapper{
  background: #2a2a2a;
  width: 100%;
  height: 32px;

}
.carousel-control-prev-wrapper:hover,
.carousel-control-next-wrapper:hover{
  background: $color;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  width: 12px !important;
  height: 33px !important;
  color: white !important;
}