.our-features-item{
  border: #b7b7b7 1px solid;
  box-sizing: border-box;
}
.our-features-item:hover>.our-features-item-icon-1>.our-features-item-icon-2{
  background: $color;
  border: $color 1px solid;
  color: white;
}
.our-features-item:hover>.our-features-item-icon-1{
  border: $color 1px solid;
}
.our-features-item:hover>.our-features-item-text{
  color: rgba(213, 142, 50, 0.5);
}
.our-features-item-icon-1{
  width: 73px;
  height: 73px;
  border: #b7b7b7 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 36px;
  z-index: 2;
  background: white;
  margin-bottom: -20px;
}
.our-features-item-icon-2{
  width: 62px;
  height: 62px;
  border: #b7b7b7 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 2;
  background: white;
}
@media screen and (min-width: 480px){
  .our-features-flex{
    justify-content: center;
  }
  .our-features-item{
    margin-bottom: 66px !important;
    width: 263px !important;
  }
}
@media screen and (min-width: 768px) {
  .carousel-caption{
    right: 0 !important;
    left: 0 !important;
  }
  .carousel-item-css{
    height: 466px !important;
  }
  .carousel-content-bg{
    bottom: 123px !important;
  }
  .carousel-content{
    top: 70px !important;
  }
  .carousel-title{
    font-size: 46px;
  }
  .carousel-subtitle{
    font-size: 24px;
  }
  .our-features-flex {
    justify-content: space-evenly;
  }
  .our-features-item{
    margin-bottom: 64px !important;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-control-prev-wrapper,
  .carousel-control-next-wrapper {
    height: 39px;
  }
  .our-features-flex {
    justify-content: space-between;
  }
}