.navbar-menu{
  background-color: #434343;
  padding: 0.5rem 0 !important;
}
.nav-link{
  padding: 0 0 !important;
}
.nav-link-navigation-text{
  color: #ffffff !important;
}
.nav-link-navigation{
  color: #ffffff !important;
  box-sizing: border-box;
  border-bottom: transparent 1px solid;
}
.nav-link-navigation:hover{
  border-bottom: white 1px solid;
}
.fa-user,
.fa-lock{
  color: #ffffff !important;
}
.modal-header-css{
  border-bottom: none !important;
}
.modal-title{
  font-size: 30px;
}
.navbar-padding {
  padding: 0 !important;
}
@media screen and (min-width: 480px){
  .modal-dialog-navbar{
    max-width: 420px !important;
  }
  .modal-wrapper-navbar{
    width: 420px !important;
  }
  .modal-form-width-navbar{
    width: 345px !important;
  }
  .form-control{
    width: 227px !important;
    height: 47px !important;
  }
}
@media screen and (min-width: 768px) {
  .form-control{
    width: 320px !important;
    height: 47px !important;
  }
}
@media screen and (min-width: 1200px) {
  .modal-dialog-navbar{
    max-width: 456px !important;
  }
  .modal-wrapper-navbar{
    width: 456px !important;
  }
  .modal-form-width-navbar{
    width: 364px !important;
  }
}