.furniture-gallery-title{
  font-size: 20px;
  color: $color;
}
.furniture-gallery-top-item{
  font-size: 18px;
  border: #e2e2e2 0.5px solid !important;
  border-radius: 0 !important;
  border-bottom: none !important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: $color !important;
  border-top: $color 3px solid !important;
  background-color: #f4f5f7 !important;
}
.tab-content-item{
  height: 467px;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
#featured.tab-pane.tab-content-item.slider-for.active{
  background-color: #f4f5f7;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.swiper-slide-container {
  background-color: #f4f5f7;
  text-align: center;
  font-size: 18px;
  height:100%;
  max-width: 600px;
  margin:auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
.swiper-slide-img-1{
  background-color: #f4f5f7;
  height: 100%;
}
.swiper-slide-img-icon-1{
  position: absolute;
  left: 10px;
  top: 115px;
  font-size: 20px;
}
.swiper-slide-img-icon-1.border-secondary:hover{
  color: $color !important;
  border: 1px solid $color !important;
}
.swiper-slide-img-icon-text-1{
  display: none;
  position: absolute;
  top: 120px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff;
}
.swiper-slide-img-icon-text-1:before{
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px;
}
.swiper-slide-img-icon-1:hover +.swiper-slide-img-icon-text-1{
  display: block;
}
.swiper-slide-img-icon-2{
  position: absolute;
  left: 10px;
  top: 160px;
}
.swiper-slide-img-icon-2.border-secondary:hover{
  color: $color !important;
  border: 1px solid $color !important;
}
.swiper-slide-img-icon-text-2{
  display: none;
  position: absolute;
  top: 164px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff;
}
.swiper-slide-img-icon-text-2:before{
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px;
}
.swiper-slide-img-icon-2:hover +.swiper-slide-img-icon-text-2{
  display: block;
}
.swiper-slide-img-icon-3{
  position: absolute;
  left: 10px;
  top: 203px;
}
.swiper-slide-img-icon-3.border-secondary:hover{
  color: $color !important;
  border: 1px solid $color !important;
}
.swiper-slide-img-icon-text-3{
  display: none;
  position: absolute;
  top: 207px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff;
}
.swiper-slide-img-icon-text-3:before{
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px;
}
.swiper-slide-img-icon-3:hover +.swiper-slide-img-icon-text-3{
  display: block;
}
.swiper-slide-img-price{
  width: 105px;
  height: 105px;
  background-color: #7b7b7c;
  border-radius: 50%;
  position: absolute;
  right: 32px;
  top: 153px;
  z-index: 10;
  opacity: 0.6;
}
.swiper-slide-img-price-text-1 {
  font-size: 20px;
  position: absolute;
  top: 31px;
  left: 16px;
}
.swiper-slide-img-price-text-1,p{
  margin-bottom: 0;
}
.swiper-slide-img-price-text-2{
  font-size: 16px;
  text-decoration: line-through;
  position: absolute;
  top: 64px;
  left: 25px;
}
.swiper-slide-img-price-text-2,p{
  margin-bottom: 0;
}
.swiper-slide-img-rating{
  width: 235px;
  height: 106px;
  background-color: #ffffff;
  position: absolute;
  top: 245px;
  right: 0;
}
.swiper-slide-img-rating:before{
  content: '';
  width: 0;
  height: 0;
  border-top: 29px solid #2a2a2a;
  border-right: 29px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide-img-rating:after{
  content: '';
  width: 0;
  height: 0;
  border-bottom: 29px solid #2a2a2a;
  border-left: 29px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}
.swiper-slide-img-rating-text{
  font-size: 16px;
  margin-bottom: 0;
  padding-top: 32px;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 15%;
  height: 100%;
  opacity: 0.6;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  position: relative;
}
.swiper-slide-img-2{
  height: 95%;
}
.swiper-button-next, .swiper-button-prev{
  height: 100% !important;
  top: 0 !important;
  width: 33px !important;
  margin-top: 0 !important;
  background-size: 20px 20px !important;
  background-color: #2a2a2a;
}
.swiper-button-prev{
  left: 0 !important;
  background-image: none !important;
}

.swiper-button-next{
  right: 0 !important;
  background-image: none !important;
}
.swiper-button-next-icon{
  position: absolute;
  top: 33px;
  left: 12px;
  color: #ffffff;
}
.swiper-button-prev-icon{
  position: absolute;
  top: 33px;
  right: 12px;
  color: #ffffff;
}

.inexpensive-goods-wrapper{
  height: 603px;
  width: 556px;
  background-color: #e8edf7;
  display: none !important;
}
.inexpensive-goods-text{
  font-size: 13px;
}
.inexpensive-goods-span{
  font-size: 30px;
}
.inexpensive-goods-header{
  font-size: 30px;
  color: $color;
}
@media screen and (min-width: 480px){
  .furniture-gallery-line{
    width: 420px;
    height: 3px;
    background-color: #e2e2e2;
    border-left: 44px solid #d58e32;
  }
  .furniture-gallery-wrapper{
    width: 451px !important;
  }
  .furniture-gallery-top-item{
    padding: 0.46rem !important;
  }
  .furniture-gallery-top-item:focus{
    font-size: 14px !important;
    padding: 0.7rem 1rem !important;
  }
  .swiper-slide-img-price{
    position: absolute;
    right: 287px;
    top: 253px;
  }
  .swiper-slide-img-rating{
    position: absolute;
    top: 254px;
    right: 77px;
  }
}
@media screen and (min-width: 768px) {
  .furniture-gallery-line{
    width: 522px;
  }
  .furniture-gallery-wrapper{
    width: 555px !important;
  }
  .furniture-gallery-top-item{
    font-size: 18px !important;
    padding: 1.26rem !important;
  }
  .furniture-gallery-top-item:focus{
    font-size: 18px !important;
    padding: 0.46rem 1.26rem !important;
  }
  .swiper-slide-img-price{
    position: absolute;
    right: 32px;
    top: 153px;
  }
  .swiper-slide-img-rating{
    position: absolute;
    top: 245px;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .inexpensive-goods-wrapper{
    display: inline-block !important;
  }
  .inexpensive-goods-img{
    width: 467px;
    height: 284px;
  }
}