@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, input, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar-menu {
  background-color: #434343;
  padding: 0.5rem 0 !important; }

.nav-link {
  padding: 0 0 !important; }

.nav-link-navigation-text {
  color: #ffffff !important; }

.nav-link-navigation {
  color: #ffffff !important;
  box-sizing: border-box;
  border-bottom: transparent 1px solid; }

.nav-link-navigation:hover {
  border-bottom: #ffffff 1px solid; }

.fa-user,
.fa-lock {
  color: #ffffff !important; }

.modal-header-css {
  border-bottom: none !important; }

.modal-title {
  font-size: 30px; }

.navbar-padding {
  padding: 0 !important; }

@media screen and (min-width: 480px) {
  .modal-dialog-navbar {
    max-width: 420px !important; }

  .modal-wrapper-navbar {
    width: 420px !important; }

  .modal-form-width-navbar {
    width: 345px !important; }

  .form-control {
    width: 227px !important;
    height: 47px !important; } }
@media screen and (min-width: 768px) {
  .form-control {
    width: 320px !important;
    height: 47px !important; } }
@media screen and (min-width: 1200px) {
  .modal-dialog-navbar {
    max-width: 456px !important; }

  .modal-wrapper-navbar {
    width: 456px !important; }

  .modal-form-width-navbar {
    width: 364px !important; } }
.header-phone-icon {
  color: #d58e32;
  font-size: 28px;
  display: none !important; }

.header-phone-number {
  color: #d8d8d8;
  margin-left: 13px;
  text-decoration: none !important; }

.header-phone-number:hover {
  color: #d8d8d8; }

.header-logo-image {
  width: 114px;
  height: 53px; }

.header-shopping-basket-icon {
  color: #ffffff;
  background-color: #d58e32;
  border-radius: 5px;
  font-size: 20px;
  padding: 11px 16px 14px 9px !important;
  cursor: pointer; }

.header-shopping-basket-counter {
  border-radius: 50%;
  z-index: 2;
  position: relative;
  right: 15px;
  padding: 5px 10px; }

.header-shopping-basket-counter-number {
  color: #ffffff;
  text-decoration: none !important; }

.header-shopping-basket-counter-number:hover {
  color: #ffffff; }

@media screen and (min-width: 480px) {
  .modal-dialog-empty-cart {
    max-width: 420px !important; }

  .modal-wrapper-empty-cart {
    width: 420px !important;
    height: 344px; }

  .modal-body-empty-cart-text1 {
    font-size: 49px; }

  .modal-body-empty-cart-text2 {
    font-size: 24px; }

  .header-logo-image {
    width: 114px;
    height: 53px; } }
@media screen and (min-width: 768px) {
  .header-phone-icon {
    display: inline-block !important; }

  .header-logo-image {
    width: 165px;
    height: 77px; }

  .header-shopping-basket-icon {
    padding: 14px 16px 14px 12px !important; }

  .modal-dialog-empty-cart {
    max-width: 555px !important; }

  .modal-wrapper-empty-cart {
    width: 555px !important;
    height: 261px; } }
@media screen and (min-width: 1200px) {
  .modal-dialog-empty-cart {
    max-width: 1140px !important; }

  .modal-wrapper-empty-cart {
    width: 1140px !important; } }
.top-menu {
  padding: 0 0 !important; }

.form-control {
  border-radius: 0 !important;
  border: #464646 1px solid !important; }

form.form-inline {
  padding: 13px 0 !important; }

.top-menu-search-icon {
  position: absolute !important;
  left: 205px;
  color: #383838;
  cursor: pointer; }

.navbar-collapse {
  align-items: flex-start;
  justify-content: flex-end; }

.navbar-toggler {
  border: none !important;
  border-radius: 0 !important; }

.top-menu {
  z-index: 5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }

.top-menu-items {
  position: absolute;
  width: 154px;
  top: 72px;
  right: 0;
  z-index: 11;
  background-color: #363636; }

.top-menu-link > a {
  font-size: 14px;
  color: #b8b8b8 !important;
  margin-left: 25px !important; }

.top-menu-link > a:hover {
  padding-bottom: 8px !important;
  border-bottom: #646464 1px solid; }

.c-hamburger {
  display: block !important;
  position: relative !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 154px !important;
  height: 73px !important;
  font-size: 0 !important;
  text-indent: -9999px;
  appearance: none !important;
  box-shadow: none !important;
  border: none !important;
  cursor: pointer !important;
  transition: background 0.3s !important; }

.c-hamburger:focus {
  outline: none !important; }

.c-hamburger span {
  display: block !important;
  position: absolute !important;
  top: 36px !important;
  left: 105px !important;
  right: 11px !important;
  width: 29px;
  height: 2px !important;
  background: #2a2a2a !important; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute !important;
  display: block !important;
  left: 0 !important;
  width: 29px !important;
  height: 2px !important;
  background-color: #2a2a2a !important;
  content: "" !important; }

.c-hamburger span::before {
  top: -6px !important; }

.c-hamburger span::after {
  bottom: -6px !important; }

.c-hamburger--htx {
  background-color: #ffffff !important; }

.c-hamburger--htx span {
  transition: background 0s 0.3s !important; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s !important;
  transition-delay: 0.3s, 0s !important; }

.c-hamburger--htx span::before {
  transition-property: top, transform !important; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color: #202529 !important; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0 !important;
  transform: rotate(45deg) !important;
  background-color: #ffffff !important; }

.c-hamburger--htx.is-active span::after {
  bottom: 0 !important;
  transform: rotate(-45deg) !important;
  background-color: #ffffff !important; }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s !important; }

@media screen and (min-width: 480px) {
  .top-menu-items {
    position: absolute;
    z-index: 999;
    background-color: #363636;
    opacity: 1; } }
@media screen and (min-width: 768px) {
  .top-menu-search-icon {
    position: absolute !important;
    left: 290px;
    color: #383838; }

  .top-menu-items {
    position: absolute;
    z-index: 99;
    background-color: #363636; } }
@media screen and (min-width: 1200px) {
  .c-hamburger, .c-hamburger--htx {
    display: none !important; }

  .top-menu-items {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #ffffff; }

  .top-menu-link {
    box-sizing: border-box;
    background-color: #ffffff !important;
    border-top: transparent 4px solid; }

  .top-menu-link > a {
    color: #2a2a2a !important;
    margin-left: 0 !important; }

  .top-menu-link:hover {
    background-color: #d58e32 !important;
    border-top: #2a2a2a 4px solid; }

  .top-menu-link:hover > a {
    color: #ffffff !important;
    padding-bottom: 0 !important;
    border-bottom: none; } }
.carousel-item-css {
  position: relative !important;
  height: 273px !important; }

.carousel-caption {
  right: 4% !important;
  left: 4% !important; }

.carousel-content-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 214px;
  bottom: 44px !important; }

.carousel-content {
  position: absolute;
  top: 20px !important; }

.carousel-title {
  font-size: 31px; }

.carousel-subtitle {
  font-size: 18px; }

.carousel-btn-text {
  font-size: 14px !important; }

.carousel-control-prev, .carousel-control-next {
  width: 50% !important;
  align-items: flex-end !important;
  opacity: 1 !important; }

.carousel-control-prev-wrapper,
.carousel-control-next-wrapper {
  background: #2a2a2a;
  width: 100%;
  height: 32px; }

.carousel-control-prev-wrapper:hover,
.carousel-control-next-wrapper:hover {
  background: #d58e32; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12px !important;
  height: 33px !important;
  color: white !important; }

.our-features-item {
  border: #b7b7b7 1px solid;
  box-sizing: border-box; }

.our-features-item:hover > .our-features-item-icon-1 > .our-features-item-icon-2 {
  background: #d58e32;
  border: #d58e32 1px solid;
  color: white; }

.our-features-item:hover > .our-features-item-icon-1 {
  border: #d58e32 1px solid; }

.our-features-item:hover > .our-features-item-text {
  color: rgba(213, 142, 50, 0.5); }

.our-features-item-icon-1 {
  width: 73px;
  height: 73px;
  border: #b7b7b7 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 36px;
  z-index: 2;
  background: white;
  margin-bottom: -20px; }

.our-features-item-icon-2 {
  width: 62px;
  height: 62px;
  border: #b7b7b7 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 2;
  background: white; }

@media screen and (min-width: 480px) {
  .our-features-flex {
    justify-content: center; }

  .our-features-item {
    margin-bottom: 66px !important;
    width: 263px !important; } }
@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 0 !important;
    left: 0 !important; }

  .carousel-item-css {
    height: 466px !important; }

  .carousel-content-bg {
    bottom: 123px !important; }

  .carousel-content {
    top: 70px !important; }

  .carousel-title {
    font-size: 46px; }

  .carousel-subtitle {
    font-size: 24px; }

  .our-features-flex {
    justify-content: space-evenly; }

  .our-features-item {
    margin-bottom: 64px !important; } }
@media screen and (min-width: 1200px) {
  .carousel-control-prev-wrapper,
  .carousel-control-next-wrapper {
    height: 39px; }

  .our-features-flex {
    justify-content: space-between; } }
.furniture-gallery-title {
  font-size: 20px;
  color: #d58e32; }

.furniture-gallery-top-item {
  font-size: 18px;
  border: #e2e2e2 0.5px solid !important;
  border-radius: 0 !important;
  border-bottom: none !important; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #d58e32 !important;
  border-top: #d58e32 3px solid !important;
  background-color: #f4f5f7 !important; }

.tab-content-item {
  height: 467px; }

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto; }

.gallery-top {
  height: 80%;
  width: 100%; }

#featured.tab-pane.tab-content-item.slider-for.active {
  background-color: #f4f5f7;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2; }

.swiper-slide-container {
  background-color: #f4f5f7;
  text-align: center;
  font-size: 18px;
  height: 100%;
  max-width: 600px;
  margin: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e2e2e2; }

.swiper-slide-img-1 {
  background-color: #f4f5f7;
  height: 100%; }

.swiper-slide-img-icon-1 {
  position: absolute;
  left: 10px;
  top: 115px;
  font-size: 20px; }

.swiper-slide-img-icon-1.border-secondary:hover {
  color: #d58e32 !important;
  border: 1px solid #d58e32 !important; }

.swiper-slide-img-icon-text-1 {
  display: none;
  position: absolute;
  top: 120px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff; }

.swiper-slide-img-icon-text-1:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px; }

.swiper-slide-img-icon-1:hover + .swiper-slide-img-icon-text-1 {
  display: block; }

.swiper-slide-img-icon-2 {
  position: absolute;
  left: 10px;
  top: 160px; }

.swiper-slide-img-icon-2.border-secondary:hover {
  color: #d58e32 !important;
  border: 1px solid #d58e32 !important; }

.swiper-slide-img-icon-text-2 {
  display: none;
  position: absolute;
  top: 164px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff; }

.swiper-slide-img-icon-text-2:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px; }

.swiper-slide-img-icon-2:hover + .swiper-slide-img-icon-text-2 {
  display: block; }

.swiper-slide-img-icon-3 {
  position: absolute;
  left: 10px;
  top: 203px; }

.swiper-slide-img-icon-3.border-secondary:hover {
  color: #d58e32 !important;
  border: 1px solid #d58e32 !important; }

.swiper-slide-img-icon-text-3 {
  display: none;
  position: absolute;
  top: 207px;
  left: 60px;
  font-size: 12px;
  background-color: #2a2a2a;
  color: #ffffff; }

.swiper-slide-img-icon-text-3:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #2a2a2a;
  position: absolute;
  top: 6px;
  left: -7px; }

.swiper-slide-img-icon-3:hover + .swiper-slide-img-icon-text-3 {
  display: block; }

.swiper-slide-img-price {
  width: 105px;
  height: 105px;
  background-color: #7b7b7c;
  border-radius: 50%;
  position: absolute;
  right: 32px;
  top: 153px;
  z-index: 10;
  opacity: 0.6; }

.swiper-slide-img-price-text-1 {
  font-size: 20px;
  position: absolute;
  top: 31px;
  left: 16px; }

.swiper-slide-img-price-text-1, p {
  margin-bottom: 0; }

.swiper-slide-img-price-text-2 {
  font-size: 16px;
  text-decoration: line-through;
  position: absolute;
  top: 64px;
  left: 25px; }

.swiper-slide-img-price-text-2, p {
  margin-bottom: 0; }

.swiper-slide-img-rating {
  width: 235px;
  height: 106px;
  background-color: #ffffff;
  position: absolute;
  top: 245px;
  right: 0; }

.swiper-slide-img-rating:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 29px solid #2a2a2a;
  border-right: 29px solid transparent;
  position: absolute;
  top: 0;
  left: 0; }

.swiper-slide-img-rating:after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 29px solid #2a2a2a;
  border-left: 29px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0; }

.swiper-slide-img-rating-text {
  font-size: 16px;
  margin-bottom: 0;
  padding-top: 32px; }

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0; }

.gallery-thumbs .swiper-slide {
  width: 15%;
  height: 100%;
  opacity: 0.6; }

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  position: relative; }

.swiper-slide-img-2 {
  height: 95%; }

.swiper-button-next, .swiper-button-prev {
  height: 100% !important;
  top: 0 !important;
  width: 33px !important;
  margin-top: 0 !important;
  background-size: 20px 20px !important;
  background-color: #2a2a2a; }

.swiper-button-prev {
  left: 0 !important;
  background-image: none !important; }

.swiper-button-next {
  right: 0 !important;
  background-image: none !important; }

.swiper-button-next-icon {
  position: absolute;
  top: 33px;
  left: 12px;
  color: #ffffff; }

.swiper-button-prev-icon {
  position: absolute;
  top: 33px;
  right: 12px;
  color: #ffffff; }

.inexpensive-goods-wrapper {
  height: 603px;
  width: 556px;
  background-color: #e8edf7;
  display: none !important; }

.inexpensive-goods-text {
  font-size: 13px; }

.inexpensive-goods-span {
  font-size: 30px; }

.inexpensive-goods-header {
  font-size: 30px;
  color: #d58e32; }

@media screen and (min-width: 480px) {
  .furniture-gallery-line {
    width: 420px;
    height: 3px;
    background-color: #e2e2e2;
    border-left: 44px solid #d58e32; }

  .furniture-gallery-wrapper {
    width: 451px !important; }

  .furniture-gallery-top-item {
    padding: 0.46rem !important; }

  .furniture-gallery-top-item:focus {
    font-size: 14px !important;
    padding: 0.7rem 1rem !important; }

  .swiper-slide-img-price {
    position: absolute;
    right: 287px;
    top: 253px; }

  .swiper-slide-img-rating {
    position: absolute;
    top: 254px;
    right: 77px; } }
@media screen and (min-width: 768px) {
  .furniture-gallery-line {
    width: 522px; }

  .furniture-gallery-wrapper {
    width: 555px !important; }

  .furniture-gallery-top-item {
    font-size: 18px !important;
    padding: 1.26rem !important; }

  .furniture-gallery-top-item:focus {
    font-size: 18px !important;
    padding: 0.46rem 1.26rem !important; }

  .swiper-slide-img-price {
    position: absolute;
    right: 32px;
    top: 153px; }

  .swiper-slide-img-rating {
    position: absolute;
    top: 245px;
    right: 0; } }
@media screen and (min-width: 1200px) {
  .inexpensive-goods-wrapper {
    display: inline-block !important; }

  .inexpensive-goods-img {
    width: 467px;
    height: 284px; } }
body {
  font-family: "Poppins", sans-serif !important; }

/*# sourceMappingURL=style.css.map */
